<a href="https://colab.research.google.com/github/sridhar8910/python_from_beginning/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python**
Today's session we learn about Python Numbers, Type Conversion and Mathematics.  
**Number**  
There are three numeric types in Python:

*  Integer  - holds signed integers of non-limited length.
*  float  - holds floating decimal points and it's accurate up to 15 decimal places.
*  complex  - holds complex numbers.

In [1]:
a = 2    
b = 2.32  
c = 1j  
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

2
2.32
1j
<class 'int'>
<class 'float'>
<class 'complex'>

We can write negative and positive numbers in Integer

In [2]:
a = 2
b = 23422342423
c = -32423435
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

2
23422342423
-32423435
<class 'int'>
<class 'int'>
<class 'int'>

Float is a number, positive or negative, containing one or more decimals.

In [3]:
a = 1.10
b = 1.0
c = -35.59
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

1.1
1.0
-35.59
<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [5]:
a = 235e5
b = 2E2
c = -2343.6e10
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

23500000.0
200.0
-23436000000000.0
<class 'float'>
<class 'float'>
<class 'float'>

Complex number are written with a "j" as the imaginary part:  
ex:1 + 2j

In [7]:
a = 4+6j
b = 4j
c = -4j
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

(4+6j)
4j
(-0-4j)
<class 'complex'>
<class 'complex'>
<class 'complex'>

You can convert from one type to another type with using int(), float(), and complex().  
ex:

In [10]:
a = 2    
b = 5.32  
c = 1j  
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))
#convert from int to float:
x=float(a)
#convert from float to int:
y= int(b)
#convert from int to complex:
z=complex(a)
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

2
5.32
1j
<class 'int'>
<class 'float'>
<class 'complex'>
2.0
5
(2+0j)
<class 'float'>
<class 'int'>
<class 'complex'>